@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600&display=swap');

:root { 
  --fontPrimary: Assistant, sans-serifs;
  --fontSecondary: Encode Sans, sans-serifs;
  --primary-bg-color: #F3F4F4;
  --primary-border-color: #D9D9D9;
  --primary-dark-color: #141417;
  --secondary-dark-color: #7F7F7F;
  --secondary-border-color: #E0E0E0;
  --secondary-bg-color: #F7F8F8;
}

.searchContainer input {
  background-color: var(--secondary-bg-color);
  font-family: var(--fontSecondary);
  border: 1px solid var(--primary-border-color);
  padding: 1rem;
  width: 30rem;
}

.searchContainer input:focus {
  border: 1px solid var(--secondary-dark-color);
  outline: none;
}

.searchContainerSubmit {
  display: none;
}

@media screen and (max-width: 540px) {

  .searchContainer input {
    width: 100%;
    min-width: 90vw;
    max-width: 90vw;
    box-sizing: border-box;
  }

}