@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600&display=swap');

:root { 
  --fontPrimary: Assistant, sans-serifs;
  --fontSecondary: Encode Sans, sans-serifs;
  --primary-bg-color: #F3F4F4;
  --primary-border-color: #D9D9D9;
  --primary-dark-color: #141417;
  --secondary-dark-color: #7F7F7F;
  --secondary-border-color: #E0E0E0;
}

.userProfileContainer{
  font-family: var(--fontPrimary);
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
  border: 1px solid var(--primary-border-color);
  width: 32rem;
  padding: 1rem;
  margin: 2rem 0 0 0;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
}

.userProfileContainer:hover{
  font-family: var(--fontPrimary);
  background-color: var(--primary-bg-color);
  box-sizing: border-box;
  border: 1px solid var(--primary-border-color);
  width: 32rem;
  padding: 1rem;
  margin: 2rem 0 0 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  transform: translateY(-8px);
}

.userProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.userProfileHeader h2 {
  margin: 0 0 1rem 0;
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--primary-dark-color);
}

.userProfileBio {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: .9rem;
  color: var(--secondary-dark-color);
  margin: 0 0 1rem 0;
}

.userProfileStats {
  font-family: var(--fontPrimary);
}

.userProfileStatRow {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: space-between;

}

.userProfileDivider {
  height: 1px;
  background-color: var(--primary-border-color);
  margin: 1rem 0 0rem 0;
}

.userProfileStatBox {
  padding: 1rem;
  border: 1px solid var(--secondary-border-color);
  min-width: 4.7rem;
  max-width: 4.7rem;
  min-height: 4rem;
  max-height: 4rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.userProfileStatBoxContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userProfileStatBoxCutoff {
  height: 100%;
  width: 2rem;
  background-color: var(--primary-bg-color);
}

.userProfileStatBox p {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: .9rem;
  color: var(--secondary-dark-color);
  margin: 0;
  white-space: nowrap;
}

.userProfileStatBox h4 {
  font-family: var(--fontPrimary);
  font-weight: 550;
  font-size: 1rem;
  color: var(--primary-dark-color);
  margin: 0;
  white-space: nowrap;
}

.userProfileLinks {
  font-family: var(--fontPrimary);
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-dark-color);
  text-decoration: none;
  min-width: 2.5rem;
  margin: 0;
}

.userProfileLinks a {
  font-family: var(--fontPrimary);
  font-weight: 400;
  font-size: .9rem;
  color: var(--primary-dark-color);
  text-decoration: none;
  margin: 0;
}

.userProfileFooter {
  display: flex;
  flex-direction: row;
  margin-top: .8rem;
  margin-bottom: -.4rem;
}